pipeline/incremental_ingestion_loop.json
{
	"name": "incremental_ingestion_loop",
	"properties": {
		"activities": [
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Config').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "getLatestCdcDate",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "cdc_json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "spotify-project",
										"p_folder": {
											"value": "@concat('01-bronze/', item().table,'_cdc')",
											"type": "Expression"
										},
										"p_file": "cdc.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "IfIncrementalData",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LookupNewRows",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('LookupNewRows').output.firstRow.new_row_count, 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "maxCdc",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "azureSQLToLake",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT max(@{item().cdc_col}) as cdc FROM @{item().schema}.@{item().table}",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "updateCdcFile",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "maxCdc",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@activity('maxCdc').output.resultSets[0].rows[0].cdc",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "cdc_json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "spotify-project",
													"p_folder": {
														"value": "@concat('01-bronze/', item().table,'_cdc')",
														"type": "Expression"
													},
													"p_file": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "cdc_json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "spotify-project",
													"p_folder": {
														"value": "@concat('01-bronze/', item().table,'_cdc')",
														"type": "Expression"
													},
													"p_file": "cdc.json"
												}
											}
										]
									},
									{
										"name": "azureSQLToLake",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "getCurrentDate",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * \nFROM \n@{item().schema}.@{item().table} \nWHERE @{item().cdc_col} > '@{if(empty(item().from_date), activity('getLatestCdcDate').output.value[0].cdc, item().from_date)}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "spotify_DimArtist",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "sink_parquet_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"p_sink_container": "spotify-project",
													"p_sink_folder": {
														"value": "@concat('01-bronze/', item().table)",
														"type": "Expression"
													},
													"p_sink_file": {
														"value": "@concat(item().table, '_', variables('v_current_date'))",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "getCurrentDate",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_current_date",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "LookupNewRows",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "getLatestCdcDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT COUNT(*) AS 'new_row_count'\nFROM \n    @{item().schema}.@{item().table}\nWHERE @{item().cdc_col} > '@{if(empty(item().from_date), activity('getLatestCdcDate').output.value[0].cdc, item().from_date)}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "azure_sql",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "cdc_json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "spotify-project",
							"p_folder": "01-bronze/config",
							"p_file": "loop_input.json"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"v_current_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "spotify_project"
		},
		"annotations": []
	}
}