pipeline/incremental_ingestion.json
{
	"name": "incremental_ingestion",
	"properties": {
		"activities": [
			{
				"name": "azureSQLToLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getLatestCdcDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "getCurrentDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table} WHERE @{pipeline().parameters.p_cdc_col} > '@{activity('getLatestCdcDate').output.value[0].cdc}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "spotify_DimArtist",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sink_parquet_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"p_sink_container": "spotify-project",
							"p_sink_folder": "01-bronze/users",
							"p_sink_file": {
								"value": "@concat(pipeline().parameters.p_table, '_', variables('v_current_date'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "getLatestCdcDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "cdc_json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "spotify-project",
							"p_folder": "01-bronze/cdc",
							"p_file": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "getCurrentDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_current_date",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetCdc",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "azureSQLToLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT max(@{pipeline().parameters.p_cdc_col}) FROM @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"p_schema": {
				"type": "string"
			},
			"p_table": {
				"type": "string"
			},
			"p_cdc_col": {
				"type": "string"
			}
		},
		"variables": {
			"v_current_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "spotify_project"
		},
		"annotations": []
	}
}