adf-spotify-ws/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-spotify-ws"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"azure_data_lake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'azure_data_lake'"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "azure-sql-db-744.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "workspace_db"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admincsingh"
		},
		"azure_data_lake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://databricksdevstg744.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/incremental_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getLatestCdcDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "cdc_json_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "spotify-project",
									"p_folder": {
										"value": "@concat('01-bronze/', pipeline().parameters.p_table,'_cdc')",
										"type": "Expression"
									},
									"p_file": "cdc.json"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "IfIncrementalData",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupNewRows",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('LookupNewRows').output.firstRow.new_row_count, 0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "maxCdc",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "azureSQLToLake",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "SELECT max(@{pipeline().parameters.p_cdc_col}) as cdc FROM @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table}",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "updateCdcFile",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "maxCdc",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "cdc",
													"value": {
														"value": "@activity('maxCdc').output.resultSets[0].rows[0].cdc",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "cdc_json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "spotify-project",
												"p_folder": {
													"value": "@concat('01-bronze/', pipeline().parameters.p_table,'_cdc')",
													"type": "Expression"
												},
												"p_file": "empty.json"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "cdc_json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "spotify-project",
												"p_folder": {
													"value": "@concat('01-bronze/', pipeline().parameters.p_table,'_cdc')",
													"type": "Expression"
												},
												"p_file": "cdc.json"
											}
										}
									]
								},
								{
									"name": "azureSQLToLake",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "getCurrentDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * \nFROM \n@{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table} \nWHERE @{pipeline().parameters.p_cdc_col} > '@{if(empty(pipeline().parameters.P_from_date), activity('getLatestCdcDate').output.value[0].cdc, pipeline().parameters.P_from_date)}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "spotify_DimArtist",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_parquet_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_sink_container": "spotify-project",
												"p_sink_folder": {
													"value": "@concat('01-bronze/', pipeline().parameters.p_table)",
													"type": "Expression"
												},
												"p_sink_file": {
													"value": "@concat(pipeline().parameters.p_table, '_', variables('v_current_date'))",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "getCurrentDate",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_current_date",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "LookupNewRows",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "getLatestCdcDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT COUNT(*) AS 'new_row_count'\nFROM \n    @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table}\nWHERE @{pipeline().parameters.p_cdc_col} > '@{if(empty(pipeline().parameters.P_from_date), activity('getLatestCdcDate').output.value[0].cdc, pipeline().parameters.P_from_date)}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "azure_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_schema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"p_table": {
						"type": "string"
					},
					"p_cdc_col": {
						"type": "string",
						"defaultValue": "updated_at"
					},
					"P_from_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "spotify_project"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/cdc_json_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/azure_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]",
				"[concat(variables('factoryId'), '/datasets/spotify_DimArtist')]",
				"[concat(variables('factoryId'), '/datasets/sink_parquet_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/incremental_ingestion_loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Config').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "getLatestCdcDate",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "cdc_json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "spotify-project",
												"p_folder": {
													"value": "@concat('01-bronze/', item().table,'_cdc')",
													"type": "Expression"
												},
												"p_file": "cdc.json"
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "IfIncrementalData",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "LookupNewRows",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('LookupNewRows').output.firstRow.new_row_count, 0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "maxCdc",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "azureSQLToLake",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabase1",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "SELECT max(@{item().cdc_col}) as cdc FROM @{item().schema}.@{item().table}",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "updateCdcFile",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "maxCdc",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"additionalColumns": [
															{
																"name": "cdc",
																"value": {
																	"value": "@activity('maxCdc').output.resultSets[0].rows[0].cdc",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "cdc_json_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"p_container": "spotify-project",
															"p_folder": {
																"value": "@concat('01-bronze/', item().table,'_cdc')",
																"type": "Expression"
															},
															"p_file": "empty.json"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "cdc_json_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"p_container": "spotify-project",
															"p_folder": {
																"value": "@concat('01-bronze/', item().table,'_cdc')",
																"type": "Expression"
															},
															"p_file": "cdc.json"
														}
													}
												]
											},
											{
												"name": "azureSQLToLake",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "getCurrentDate",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * \nFROM \n@{item().schema}.@{item().table} \nWHERE @{item().cdc_col} > '@{if(empty(item().from_date), activity('getLatestCdcDate').output.value[0].cdc, item().from_date)}'",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "spotify_DimArtist",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "sink_parquet_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"p_sink_container": "spotify-project",
															"p_sink_folder": {
																"value": "@concat('01-bronze/', item().table)",
																"type": "Expression"
															},
															"p_sink_file": {
																"value": "@concat(item().table, '_', variables('v_current_date'))",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "getCurrentDate",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "v_current_date",
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "LookupNewRows",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "getLatestCdcDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT COUNT(*) AS 'new_row_count'\nFROM \n    @{item().schema}.@{item().table}\nWHERE @{item().cdc_col} > '@{if(empty(item().from_date), activity('getLatestCdcDate').output.value[0].cdc, item().from_date)}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "azure_sql",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "cdc_json_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "spotify-project",
									"p_folder": "01-bronze/config",
									"p_file": "loop_input.json"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"v_current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "spotify_project"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/cdc_json_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/azure_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]",
				"[concat(variables('factoryId'), '/datasets/spotify_DimArtist')]",
				"[concat(variables('factoryId'), '/datasets/sink_parquet_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cdc_json_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_data_lake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_folder": {
						"type": "string"
					},
					"p_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_data_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_parquet_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_data_lake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_sink_container": {
						"type": "string"
					},
					"p_sink_folder": {
						"type": "string"
					},
					"p_sink_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_sink_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_sink_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_sink_container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_data_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/spotify_DimArtist')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "artist_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "artist_name",
						"type": "varchar"
					},
					{
						"name": "genre",
						"type": "varchar"
					},
					{
						"name": "country",
						"type": "varchar"
					},
					{
						"name": "updated_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "spotify_DimArtist"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_data_lake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('azure_data_lake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('azure_data_lake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}